<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>{{order.user}} Order Status</h1>
<div>
    <span class="badge">
        <ul id="demo"></ul>
    </span>
</div>
<script>
    var order = "{{order.order_idd}}"
         function statusBar(status_data)
         {
             var pizzas = document.createElement('div');
             pizzas.className = "border rounded p-1 my-2"
             pizzas.innerHTML = status_data.status.id
             pizzas.innerHTML += "<br/>" + status_data.created_at
             pizzas.innerHTML += "<br/>" + status_data.status.status_level
            document.getElementById("demo").appendChild(pizzas);
         }


        function connect() {
        const socket = new WebSocket("ws://" + window.location.host + "/ws/order/" + order + "/");

        socket.onopen = function(e) {
            console.log("Successfully connected to the WebSocket.");
        }
        socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data)
        if (data.payload!== "None"){
            for(i=0; i < data.payload.length; i++)
            {
                console.log(data.payload[i])
                statusBar(data.payload[i])
            }
        }
        }
        socket.onclose = function(e)
        {
            console.log("Connection terminated");
        }
    }
    connect()
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>